#SP {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  .search_scrollbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 7.5px;
    overflow-x: auto;
    .search_choice {
      text-align: center;
      width: 98px;
      min-width: 98px;
      padding: 0px 5px;
      margin: 0 1.5px 5px 1.5px;
      background: #33b6d2;
      border: 1px solid #33b6d2;
      border-radius: 10px;
      transition: 1s all;
      span {
        font-size: 13.5px;
        letter-spacing: 0.8px;
        position: relative;
        top: -1px;
        left: 1px;
        color: white;
        font-weight: bold;
      }
    }
    .search_choice.active {
      background: white;
      span {
        color: #33b6d2;
      }
    }
  }
  .bottom {
    margin: 0 0 0 2px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    .post_area {
      width: 320px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      // margin: 0 0 115px 0;
      .post {
        width: 100px;
        height: 100px;
        background-color: #33b6d2;
        margin: 2.5px 2.5px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
        }
      }
    }
    @media screen and (min-width: 420px) {
      .post_area {
        width: 420px;
      }
    }
    @media screen and (min-width: 630px) {
      .post_area {
        width: 630px;
      }
    }
    @media screen and (min-width: 735px) {
      .post_area {
        width: 735px;
      }
    }
  }
}
