#Footer {
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    .footer_row {
        margin: 0.25rem 0;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        color: black;
        text-decoration: none;
        font-size: 12px;
        text-align: center;
    }
    .footer_item {
        display: -ms-grid;
        display: grid;
        margin: 5px 0 0 0;
        .item_img {
            width: 25px;
            height: 25px;
            img {
                width: 100%;
            }
        }
    }
}
#Footer.nonFooter{
    display: none;
}