.SignInUpPage {
    height: 100vh;
    margin: 0;
    color: #f1f1f1;
    background: #c8c8c8;
    font: 600 16px/18px "Open Sans", sans-serif;
    *,
    :after,
    :before {
        box-sizing: border-box;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .login-wrap {
        width: 100%;
        height: 100%;
        margin: auto;
        min-height: 670px;
        position: relative;
        background: url(https://previews.123rf.com/images/lenetstan/lenetstan1805/lenetstan180504191/102569654.jpg) center;
        background-size: cover;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        input {
            margin: 5px 0;
            outline: none;
        }
        .login-scene{
            width: 100%;
            height: 100%;
            background: rgba(99, 100, 102, 0.5);
        }
        .login-html {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 90px 50px 50px 50px;
            .sign-in-htm {
                margin: 50px 0 0 0;
            }
            .sign-up-htm {
                margin: 25px 0 0 0;
            }
            .sign-in-htm,
            .sign-up-htm {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transition: all 0.5s linear;
            }
            .tab {
                font-size: 18px;
                margin-right: 15px;
                padding-bottom: 5px;
                margin: 0 15px 10px 0;
                display: inline-block;
                border-bottom: 2px solid transparent;
            }
            .sign-in:checked + .tab,
            .sign-up:checked + .tab {
                color: #000;
                border-color: #153a79;
            }
            .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
                transform: rotate(0);
            }
            .sign-up:checked + .tab + .login-form .sign-up-htm {
                transform: rotate(0);
            }
        }
        .login-html .sign-in,
        .login-html .sign-up,
        .login-form .group .check {
            display: none;
        }
        .login-html .tab,
        .login-form .group .label,
        .login-form .group .button {
            text-transform: uppercase;
        }
        .login-form {
            min-height: 345px;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
            .group {
                margin-bottom: 15px;
                .label,
                .input,
                .button {
                    width: 100%;
                    color: #000;
                    display: block;
                }
                .button {
                    font-weight: bold;
                    margin: 30px 0;
                    background: #1161ee;
                }
                .label {
                    color: rgb(2, 15, 39);
                    font-size: 12px;
                }
                .input,
                .button {
                    border: none;
                    padding: 10px 20px;
                    border-radius: 25px;
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .hr {
            height: 2px;
            margin: 60px 0 50px 0;
            background: rgba(255, 255, 255, 0.4);
        }
    }
}
