#PI {
  height: 100vh;
  margin: 7.5px 0;
  .top {
    display: flex;
    justify-content: space-around;
    margin: 0 7.5px;
    .pi_left {
      // display: -ms-inline-grid;
      // display: inline-grid;
      padding: 0;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title_img {
          width: 25px;
          height: 25px;
          img {
            width: 100%;
          }
        }
        span {
          position: relative;
          top: 2px;
          color: #33b6d2;
          font-size: 20px;
          font-weight: bold;
          padding: 0 5px;
          margin: 0 5px;
          letter-spacing: 1px;
        }
      }
      .des {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0;
        .vertical_line {
          width: 4px;
          height: 140px;
          background-color: #dbdbdb;
          margin: 0 10px 0 20px;
        }
        .des_list {
          position: relative;
          top: -10px;
          p {
            padding: 0;
            margin: 0;
            font-weight: bold;
          }
          .information_list {
            padding: 10px 0 10px 7.5px;
            p {
              color: rgba($color: #000000, $alpha: 0.65);
              line-height: 1.25;
              letter-spacing: 1.5px;
            }
          }
          .status_list {
            p {
              color: white;
              width: -moz-fit-content;
              width: fit-content;
              padding: 1.5px 5px;
              margin: 3.5px 0;
              border-radius: 12.5px;
              font-size: 14px;
            }
            .blood_suger {
              background-color: #c0007e;
            }
            .blood_pleasure {
              background-color: #d50451;
            }
            .kidney {
              background-color: #33b6d2;
            }
          }
        }
      }
    }
    .pi_right {
      position: relative;
      .pi_right_top {
        display: flex;
        .status {
          position: relative;
          width: 85px;
          height: 85px;
          img {
            width: 100%;
          }
          .status_area {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .title {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bolder;
              font-size: 12px;
              .title_img {
                width: 15px;
                height: 15px;
                img {
                  width: 100%;
                }
              }
              span {
                position: relative;
                top: 3px;
              }
            }
            .title_splitter_hr {
              margin: 4px auto;
              width: 57.5px;
              height: 1.5px;
              background-color: #dbdbdb;
            }
            .status_list {
              .status_row {
                display: flex;
                justify-content: center;
                align-items: center;
                .status_icon {
                  position: relative;
                  top: -10px;
                  width: 10px;
                  height: 10px;
                  img {
                    width: 100%;
                  }
                }
                span {
                  width: 22px;
                  padding: 0 0 0 2.5px;
                  margin: 0;
                  line-height: 1;
                  font-weight: bold;
                  color: rgba($color: #000000, $alpha: 0.55);
                  font-size: 12px;
                }
              }
            }
            .status_content {
              text-align: center;
              h6 {
                color: rgba($color: #000000, $alpha: 0.55);
                font-weight: bold;
                font-size: 13px;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
      .pi_right_bottom {
        margin: 15px;
        position: absolute;
        right: 0;
        bottom: 0;
        a {
          text-decoration: none;
        }
        .record_diet {
          background-color: #33b6d2;
          border-radius: 999rem;
          width: 60px;
          height: 60px;
          text-align: center;
          svg {
            padding: 0;
            margin: 2.5px 0 0 0;
            width: 30px;
            height: 30px;
            color: white;
          }
          p {
            line-height: 1;
            font-size: 12px;
            margin: 0 auto;
            color: white;
          }
        }
      }
    }
  }
  .bottom {
    margin: 0 0 0 2px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    .post_area {
      width: 320px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .post {
        width: 100px;
        height: 100px;
        background-color: rgba($color: #69d4eb, $alpha: 0.5);
        margin: 2.5px 2.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-height: 100px;
          border-radius: 4px;
        }
      }
    }
    @media screen and (min-width: 420px) {
      .post_area {
        width: 420px;
      }
    }
    @media screen and (min-width: 630px) {
      .post_area {
        width: 630px;
      }
    }
    @media screen and (min-width: 735px) {
      .post_area {
        width: 735px;
      }
    }
  }
}
